*,
*::before,
*::after {
    box-sizing: border-box;
}


#logos_container {
    display: block;
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-4 {
    position: relative;
    width: 33.33333333%;
    padding-right: 15px;
    padding-left: 15px;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}