body {
    background-color: #f0f0f0;
}

h1 {
    display: inline-block;
    color: green;
    text-align: center; 
    transition: text-shadow 0.3s ease-in-out;
    
}
h1:hover{
    transition: text-shadow 0.3s ease-in-out;
    cursor: pointer;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);

}

p {
    font-size: 18px;
    line-height: 1.5;

    color: #991eca;
}
a:hover {
    color: green;
}

.test-p {
    font-size: 20px;
    color: #c300ff;
    text-decoration: none;
}

